@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');

body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-color: #171717; */
    background-image: url('./img/asteriodPhoto.png');
    /* background-repeat:  no-repeat; */
    background-size: auto 100%;
}

section{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
}

h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 55px;

    /* background-color: black; */
}

/* #q1{
    display: none;
} */

#title p{
    color:white;
    font-size: 100px;
    /* font-weight: bold; */
    font-family: 'ZCOOL XiaoWei', serif;
    
    margin-bottom: 100px;
    margin: 5px;
    text-shadow: 3px 3px red;
    align-content: center;
    text-align: center;
    
}

#title{
    margin-bottom: 100px;
    background-image: url('./img/titleBackground.png');
    background-size: 100% 100%;
    padding: 20px;
}

canvas{
    top: 0;
    /* position: absolute; */
    left: 0;
    outline: none;
    /* mix-blend-mode: exclusion; */
}

button{
    
    font-family: times;
    /* font-weight: bold; */
    font-size: 40px;
    color: white;
    /*   text-shadow: 10px 10px white; */
    background: none;
    background-color: black;
    border: 2px rebeccapurple solid;
    padding: 10px;

    width: 100%;
    margin-top: 20px;
}

button:active{
    background-color: rebeccapurple;
}

#startButton {
    background: none;
    background-image: url('./img/startB.png');
    background-size: 100% 100%;
    border: none;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px rebeccapurple;
    font-family: 'ZCOOL XiaoWei', serif;
    /* border: 3px solid #75e729; */
}

.result{
    color:white;
    width: 70%;
    height: 70%;
    display: inline;

    overflow: scroll;
}

.result h1{
    /* width:; */
    height: fit-content;

    font-size: 100px;
    text-shadow: 5px 5px red;
    font-family: 'SimHei';
    padding: 30px;
    border-bottom: 10px solid white;

    text-align: center;
    /* background-color: red; */
}

.result h2{
    height: fit-content;
    font-weight: normal;
    color:  red;
    font-size: 60px;
    margin: 0;
    margin-top: 30px;
}

.result p{
    height: fit-content;
    font-size: 45px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.statistic button{
    
    overflow: visible;
    word-break: keep-all;

    border: 0;
}

.statistic{
    margin-top: 100px;
    display: grid;
    background-color: rgba(10, 10, 10, 0.5);

}

#academic{
    background-color: blue;
}

#resource{
    background-color: gold;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    transition: font-size .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    font-size: 200px;
  }